<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .active{
            background-color: rgb(27, 156, 133) !important;
        }

    </style>
    </head>

<body>

    <div class="container text-center" style="margin:6px;">
        <div class="row" id="gridRow">

        </div>
        <div class="row" style="margin-top: 10px;margin-left: auto;">
            <div class="col">
                <div class="card" style="width: 550px;margin-left: 50px;">
                    <div class="card-body">
                        <h4 class="card-title">Results</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Total
                                Unit<span id="totalUnit"></span></li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 650px;">
                    <div class="card-body">
                        <h5 class="card-title">TeleBot sample Message</h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Enter a sample alert message"
                                            id="messageTextarea" style="height: 150px;width: 320px;"></textarea>
                                        <label for="messageTextarea">Sample Message</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="list-group">
                                        <button class="list-group-item list-group-item-action active"
                                            onclick="templateChanger(1)">Template 1</button>
                                        <button class="list-group-item list-group-item-action"
                                            onclick="templateChanger(2)">Template 2</button>
                                        <button class="list-group-item list-group-item-action"
                                            onclick="templateChanger(3)">Template 3</button>
                                    </div>

                                    <script>
                                        var messageField = document.getElementById('messageTextarea');
                                        var templates=["Alert!!\n80 units of power consumed,\n20units more to reach the next slab.",
                                                         "Weekly update :) \n\nDevice 1 : 20 kwh,\nDevice 2 : 45 kwh,\nDevice 3 : 15 kwh.",
                                                         "Reminder 90% used.."];
                                        function templateChanger(template) {
                                            let prevActive = document.getElementsByClassName('list-group-item list-group-item-action active');
                                            prevActive[0].className = prevActive[0].className.replace(" active", "");
                                            event.srcElement.className += " active";
                                            messageField.value=templates[template-1];
                                        }
                                        messageField.value=templates[0]; //initial
                                    </script>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-dark" style="padding: 3px;margin-top: 10px;width: 100%;" onclick="sendMessage()">Send</a>
                        <script>
                            function sendMessage() {

                                let request = new XMLHttpRequest();
                                request.open("post", "sendAlert");
                                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                                request.send(document.getElementById("messageTextarea").value);

                            }
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="p-3 text-center" style="background-color: rgb(232, 246, 239);width: 100%;">Project done by SMK & KS</div>






    <script>

        var deviceIdList = [];


        function connectWebsocket() {
            var socket = new WebSocket("ws://" + window.location.host + "/device/");
            socket.onmessage = function (event) {
                console.log(event.data);
                data = JSON.parse(event.data);
                if (data["content"] == "deviceInfo") {
                    deviceId = data["deviceId"];

                    let statusDoc = document.getElementById(deviceId.toString() + "s");
                    statusDoc.innerText = data["status"] == false ? "Off" : "On";
                    statusDoc.className = data["status"] == false ? "text-danger" : "text-success";

                    document.getElementById(deviceId.toString() + "v").innerText = data["voltage"];
                    document.getElementById(deviceId.toString() + "c").innerText = data["current"];
                    document.getElementById(deviceId.toString() + "p").innerText = data["power"];
                    document.getElementById(deviceId.toString() + "u").innerText = data["unit"];
                    document.getElementById(deviceId.toString() + "modified").innerText = data["modified"];

                    socket.send(JSON.stringify({ "request": "result" }));
                }
                if (data["content"] == "result") {
                    document.getElementById("totalUnit").innerText = data["totalUnit"];
                }
                if(data["content"]=="deviceLimit"){
                    document.getElementById(data["deviceId"].toString() +"l").innerText=data["value"];
                    document.getElementById(data["deviceId"].toString() +"l-progress").style.width=data["value"].toString()+"%";
                }


            };
        }

        window.onload = function () {
            var deviceListRequest = new XMLHttpRequest();
            deviceListRequest.open("GET", "/device/all");
            deviceListRequest.onreadystatechange = function () {
                if (deviceListRequest.status == 200 && deviceListRequest.readyState == 4) {
                    console.log(deviceListRequest.response);

                    let json = JSON.parse(deviceListRequest.response);
                    deviceIdList = json["devices"];



                    for (let i = 0; i < deviceIdList.length; i++) {
                        console.log('device' + (i + 1).toString());


                        let card = "\
                        <div class='card' style='width: 22rem;margin-top:0px;margin-left:auto;'>\
                            <div class='card-body'>\
                            <h5 class='card-title'>Device : "+ deviceIdList[i].toString() + "</h5>\
                                <ul class='list-group'>\
                                    <li class='list-group-item d-flex justify-content-between align-items-center' >Status<span id='"+ deviceIdList[i].toString() + "s' style='font-weight:bold;'></span></li>\
                                    <li class='list-group-item d-flex justify-content-between align-items-center'>Voltage (V)<span id='"+ deviceIdList[i].toString() + "v' ></span></li>\
                                    <li class='list-group-item d-flex justify-content-between align-items-center'>Current (A)<span id='"+ deviceIdList[i].toString() + "c'></span></li>\
                                    <li class='list-group-item d-flex justify-content-between align-items-center' style='background-color:rgb(233, 100, 121);color:white;'>Power (W)<span id='"+ deviceIdList[i].toString() + "p'></span></li>\
                                    <li class='list-group-item d-flex justify-content-between align-items-center'>Unit (kwh)<span id='"+ deviceIdList[i].toString() + "u'></span></li>\
                                    <li class='d-flex justify-content-between align-items-center' style='margin-top:20px;padding:5px;'>\
                                        <b>Usage Limits</b>\
                                        <span id='"+ deviceIdList[i].toString() + "l'>100</span>\
                                    </li>\
                                    <li style='list-style-type:none;'>\
                                        <div class='progress' role='progressbar' aria-label='Basic example' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>\
                                        <div class='progress-bar' id='"+ deviceIdList[i].toString() + "l-progress' style='width: 50%;background-color:rgb(83, 127, 231);'></div>\
                                        </div>\
                                    </li>\
                                </ul>\
                            <p class='card-footer'>Last Updated on <span id='"+ deviceIdList[i].toString() + "modified' class='text-secondary'></span></p>\
                            </div>\
                        </div>";

                        let node = document.createElement('div');
                        node.innerHTML = card;
                        node.className = "col";
                        document.querySelector("#gridRow").appendChild(node);


                    }
                    connectWebsocket();



                }
            }
            deviceListRequest.send();
        }




    </script>
</body>

</html>